{% extends 'base.html' %}
<div class="category">

    <div class="col-sm-12 col-md-12">



        <h3> Business News</h3>

































    </div>
    <ul class="row">


        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 piece">
            <li class="text-center">
                <h4>Argaam</h4>
                <hr>
                <h5>ارقام موقع متخصص في متابعة سوق الأسهم السعودي تداول - تاسي - مع تغطيه معمقة لشركات واسعار ومنتجات
                    البتروكيماويات , تقارير مالية الاكتتابات الجديده </h5>
                <a href="http://www.argaam.com"><button type="button" class="btn btn-warning"> Visit
                        Website</button></a>
                <a href="/source/argaam"><button type="button" class="btn btn-warning"> Explore News
                        Articles</button></a>
            </li>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 piece">
            <li class="text-center">
                <h4>Australian Financial Review</h4>
                <hr>
                <h5>The Australian Financial Review reports the latest news from business, finance, investment and
                    politics, updated in real time. It has a reputation for independent, award-winning journalism and is
                    essential reading for the business and investor community.</h5>
                <a href="http://www.afr.com"><button type="button" class="btn btn-warning"> Visit Website</button></a>
                <a href="/source/australian-financial-review"><button type="button" class="btn btn-warning"> Explore
                        News Articles</button></a>
            </li>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 piece">
            <li class="text-center">
                <h4>Bloomberg</h4>
                <hr>
                <h5>Bloomberg delivers business and markets news, data, analysis, and video to the world, featuring
                    stories from Businessweek and Bloomberg News.</h5>
                <a href="http://www.bloomberg.com"><button type="button" class="btn btn-warning"> Visit
                        Website</button></a>
                <a href="/source/bloomberg"><button type="button" class="btn btn-warning"> Explore News
                        Articles</button></a>
            </li>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 piece">
            <li class="text-center">
                <h4>Business Insider</h4>
                <hr>
                <h5>Business Insider is a fast-growing business site with deep financial, media, tech, and other
                    industry verticals. Launched in 2007, the site is now the largest business news site on the web.
                </h5>
                <a href="http://www.businessinsider.com"><button type="button" class="btn btn-warning"> Visit
                        Website</button></a>
                <a href="/source/business-insider"><button type="button" class="btn btn-warning"> Explore News
                        Articles</button></a>
            </li>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 piece">
            <li class="text-center">
                <h4>Business Insider (UK)</h4>
                <hr>
                <h5>Business Insider is a fast-growing business site with deep financial, media, tech, and other
                    industry verticals. Launched in 2007, the site is now the largest business news site on the web.
                </h5>
                <a href="http://uk.businessinsider.com"><button type="button" class="btn btn-warning"> Visit
                        Website</button></a>
                <a href="/source/business-insider-uk"><button type="button" class="btn btn-warning"> Explore News
                        Articles</button></a>
            </li>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 piece">
            <li class="text-center">
                <h4>CNBC</h4>
                <hr>
                <h5>Get latest business news on stock markets, financial &amp; earnings on CNBC. View world markets
                    streaming charts &amp; video; check stock tickers and quotes.</h5>
                <a href="http://www.cnbc.com"><button type="button" class="btn btn-warning"> Visit Website</button></a>
                <a href="/source/cnbc"><button type="button" class="btn btn-warning"> Explore News Articles</button></a>
            </li>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 piece">
            <li class="text-center">
                <h4>Die Zeit</h4>
                <hr>
                <h5>Aktuelle Nachrichten, Kommentare, Analysen und Hintergrundberichte aus Politik, Wirtschaft,
                    Gesellschaft, Wissen, Kultur und Sport lesen Sie auf ZEIT ONLINE.</h5>
                <a href="http://www.zeit.de/index"><button type="button" class="btn btn-warning"> Visit
                        Website</button></a>
                <a href="/source/die-zeit"><button type="button" class="btn btn-warning"> Explore News
                        Articles</button></a>
            </li>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 piece">
            <li class="text-center">
                <h4>Financial Post</h4>
                <hr>
                <h5>Find the latest happenings in the Canadian Financial Sector and stay up to date with changing trends
                    in Business Markets. Read trading and investing advice from professionals.</h5>
                <a href="http://business.financialpost.com"><button type="button" class="btn btn-warning"> Visit
                        Website</button></a>
                <a href="/source/financial-post"><button type="button" class="btn btn-warning"> Explore News
                        Articles</button></a>
            </li>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 piece">
            <li class="text-center">
                <h4>Fortune</h4>
                <hr>
                <h5>Fortune 500 Daily and Breaking Business News</h5>
                <a href="http://fortune.com"><button type="button" class="btn btn-warning"> Visit Website</button></a>
                <a href="/source/fortune"><button type="button" class="btn btn-warning"> Explore News
                        Articles</button></a>
            </li>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 piece">
            <li class="text-center">
                <h4>Handelsblatt</h4>
                <hr>
                <h5>Auf Handelsblatt lesen sie Nachrichten über Unternehmen, Finanzen, Politik und Technik. Verwalten
                    Sie Ihre Finanzanlagen mit Hilfe unserer Börsenkurse.</h5>
                <a href="http://www.handelsblatt.com"><button type="button" class="btn btn-warning"> Visit
                        Website</button></a>
                <a href="/source/handelsblatt"><button type="button" class="btn btn-warning"> Explore News
                        Articles</button></a>
            </li>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 piece">
            <li class="text-center">
                <h4>Il Sole 24 Ore</h4>
                <hr>
                <h5>Notizie di economia, cronaca italiana ed estera, quotazioni borsa in tempo reale e di finanza, norme
                    e tributi, fondi e obbligazioni, mutui, prestiti e lavoro a cura de Il Sole 24 Ore.</h5>
                <a href="http://www.ilsole24ore.com"><button type="button" class="btn btn-warning"> Visit
                        Website</button></a>
                <a href="/source/il-sole-24-ore"><button type="button" class="btn btn-warning"> Explore News
                        Articles</button></a>
            </li>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 piece">
            <li class="text-center">
                <h4>InfoMoney</h4>
                <hr>
                <h5>No InfoMoney você encontra tudo o que precisa sobre dinheiro. Ações, investimentos, bolsas de
                    valores e muito mais. Aqui você encontra informação que vale dinheiro!</h5>
                <a href="http://www.infomoney.com.br"><button type="button" class="btn btn-warning"> Visit
                        Website</button></a>
                <a href="/source/info-money"><button type="button" class="btn btn-warning"> Explore News
                        Articles</button></a>
            </li>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 piece">
            <li class="text-center">
                <h4>Les Echos</h4>
                <hr>
                <h5>Toute l'actualité économique, financière et boursière française et internationale sur Les Echos.fr
                </h5>
                <a href="https://www.lesechos.fr"><button type="button" class="btn btn-warning"> Visit
                        Website</button></a>
                <a href="/source/les-echos"><button type="button" class="btn btn-warning"> Explore News
                        Articles</button></a>
            </li>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 piece">
            <li class="text-center">
                <h4>The Economist</h4>
                <hr>
                <h5>The Economist offers authoritative insight and opinion on international news, politics, business,
                    finance, science, technology and the connections between them.</h5>
                <a href="http://www.economist.com"><button type="button" class="btn btn-warning"> Visit
                        Website</button></a>
                <a href="/source/the-economist"><button type="button" class="btn btn-warning"> Explore News
                        Articles</button></a>
            </li>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 piece">
            <li class="text-center">
                <h4>The Wall Street Journal</h4>
                <hr>
                <h5>WSJ online coverage of breaking news and current headlines from the US and around the world. Top
                    stories, photos, videos, detailed analysis and in-depth reporting.</h5>
                <a href="http://www.wsj.com"><button type="button" class="btn btn-warning"> Visit Website</button></a>
                <a href="/source/the-wall-street-journal"><button type="button" class="btn btn-warning"> Explore News
                        Articles</button></a>
            </li>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 piece">
            <li class="text-center">
                <h4>Wirtschafts Woche</h4>
                <hr>
                <h5>Das Online-Portal des führenden Wirtschaftsmagazins in Deutschland. Das Entscheidende zu
                    Unternehmen, Finanzen, Erfolg und Technik.</h5>
                <a href="http://www.wiwo.de"><button type="button" class="btn btn-warning"> Visit Website</button></a>
                <a href="/source/wirtschafts-woche"><button type="button" class="btn btn-warning"> Explore News
                        Articles</button></a>
            </li>
        </div>


    </ul>

    <div class="col-sm-12 col-md-12">

        </ul>

    </div>
</div>    