{% extends 'base.html' %}
{% block content %}
<div class="container">
    {% for article in articles %}
        <h2>{{ article.source.name }}</h2>
        <h3>{{ article.title }}</h3>
        <div class="row">
            <div class="col-md-5">
                <img src="{{article.urlToImage}}" class="img-responsive" alt="">
            </div>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <p>Author: {{ article.author }} </p>
                        </div>
                        <div class="row">
                            <p> {{ article.publishedAt }}</p>
                        </div>
                        <div class="row">
                            <p>{{ article.description }}</p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <p> {{ article.content }}</p>
                        </div>
                        <div class="row">
                            <a href="{{article.url}}" class="btn btn-primary"> View  article</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
            <br>
    {% endfor %}
</div>
{% endblock %}
